.side-section{
    /* border: 1px solid black; */
    margin-right:17%;
    
}
.profile{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 312px;

}


.info{
    display: flex;
    justify-content: space-between;
}



.own-profile-pic img {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 50%;
}

.others-profile-pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.names {
    margin-left: 1rem;
    margin-right: 3rem;
   
}

.handle {
    font-size: 16px;
    font-weight: 500;

}

.own-name{
    font-size: 15px;
    padding-inline: 4px;
 
    font-weight: 200;
    color: gray;
}
.name {
    padding-inline: 4px;
    font-size: 13px;
    font-weight: 200;
    color: gray;
}
.sugg {
    padding-inline: 4px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(134, 130, 130);

}
.btn a{
    color: rgb(21, 165, 248);
}


.profile a {
   
    font-size: 13px;
    margin-left: 80px;
}

.see {
    
    color: black;
}

.switch{
    margin-left: -38px;
   
}

.links {
    display: flex;

}

.links li a {
    color: #ccc;
    font-size: 12px;
}

.copyright {
    margin-top: 15px;
    font-size: 13px;
    color: #ccc;
}

/* media query */

@media (max-width:1070px){

    .side-section {
        display: none;
    }
}