/* This is a Boiler plate code for CSS.... */
@import "./components/navbar/navbar.css";

@import "./components/story/story.css";
@import "./components/sidebar/sidebar.css";
@import "./components/post/post.css";


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary: rgba(239, 239, 239, 1);
    --secondary: #00263E;
    --white: #fff;
    --black: #000;
    --grey: #ccc;
}

html {
    font-size: 50.5%;
}

body {
    background: var(--white);


    background-color: rgb(243, 242, 242);
}

ul {
    list-style: none;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}


/* Seperate Heading is selected for different Sizes, different line-heights and colors etc. */

h1 {}

h2 {}

h2 {}

h4 {}

h5 {}

h6 {}

p {}


.container1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    width: 100%;
}

.container2{
    margin-top: 17%;
    
}

.mega-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
    width: 70%;
    margin-inline: auto;
    margin-top: 28px;
    padding-inline: 20px;

}


