header{
    display:flex;
    justify-content:space-between ;
    align-items:center;
    padding:10px 15%;
    border-bottom:1px solid rgba(239,239,239, 1);
    background:white;

}

header .logo{
    height:29px;
    object-fit: contain;
}
header .srch-box{
    width:250px;
    background-color:rgba(239,239,239, 1);
    display:flex;
    align-items:center;
    padding:3px 16px;
    border-radius:8px;
    margin-left:21rem;
}
header .fa-1{
    font-size:15px;
    color: rgb(172, 170, 170);
}

header .srch-box input{
    height:30px;
    outline:none;
    border:none;
    background:rgba(239,239,239,1);
    padding-left:10px;
    font-size:17px;
}
header nav ul{
    display:flex;
}
header nav ul li{
    margin-right:20px;
}
header nav ul li  .dp img{
    width:25px;
    height:25px;
    border-radius:50%;
}
.box{
    width:500px;
    height:500px;
    border:3px solid red;
}

@media (max-width:1200px){

    header{
        padding:10px 10%;
       
    }
    header .srch-box{
        margin-left:8rem;
    }
}
@media (max-width:900px){

    header{
        padding:10px 6%;
        
    }
    header .srch-box{
        margin-left:5rem;
    }
}
@media (max-width:780px){

    header{
        padding:10px 3%;
    }
    header .srch-box{
        margin-left:2rem;
    }
}
@media (max-width:680px){

    header{
        padding:10px 1%;
    }
    header .srch-box{
        margin-left:1rem;
    }
}
@media (max-width:650px){
    
    header{
        padding:10px 6%;
    }
    header .srch-box{
        display:none;
    }
   
}