.container {
    margin: 20px 41% 20px 18%;
}

.container .cards {

    display: flex;
    flex-direction: column;
    background-color:var(--white);
    border: 1px solid var(--grey);
    border-radius:8px;
}

.cards .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   

}

.cards .name .part1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-content: center;
    align-items: center
}

.cards .name .dp-2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.cards .post img{
padding-left:5px;
}

.content .content1 {
    padding:15px;
    display:flex;
    justify-content: space-between;
}

.content .content1 .icons-1 img{
   padding-right:15px;
}

